<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>12638070480-j70hhuiffphl76oek96ecdkasjhvt2ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12638070480-j70hhuiffphl76oek96ecdkasjhvt2ba</string>
	<key>API_KEY</key>
	<string>AIzaSyDHG28EKMPXDtug52PNLn9FQUzuQLKh-WE</string>
	<key>GCM_SENDER_ID</key>
	<string>12638070480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RAA.PropertyManagement</string>
	<key>PROJECT_ID</key>
	<string>propertymanagement-raa</string>
	<key>STORAGE_BUCKET</key>
	<string>propertymanagement-raa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12638070480:ios:3e23d23a981342f9</string>
	<key>DATABASE_URL</key>
	<string>https://propertymanagement-raa.firebaseio.com</string>
</dict>
</plist>